<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
    <strong>Author:</strong>
    <%= book.author %>
    <strong>Published Date:</strong>
    <%= book.published_date %>
    <strong>Price:</strong>
    <%= book.price %>
    
  </p>

</div>
